<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Personal profiles for people in the wine and spirits industry.
</p>

<p>

The ability to manage details about the place you work and the bottles (vintages) that are produced.
</p>