<li class="th">
  <%= link_to user.name, user %>
<hr />
<span title='<%= link_to user.name, user %>'>
  <%= gravatar_for user, size: 52 %>

</span>



  <% if current_user.admin? && !current_user?(user) %>
	<hr />
    <%= link_to "x", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
