<% @user ||= current_user %>

<div class="row">

<div class="large-6 columns">
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>

	<div class="large-6 columns">

	  <a href="<%= following_user_path(@user) %>">
	    following
	    <strong id="following" class="stat">
	      <%= @user.followed_users.count %>
	    </strong>

	  </a>
	</div>
  
</div>