// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.circular {
  width: 150px; 
  height:150px;
  border-radius:50%;

}

.circular img {
  border-radius:50%;
  transition: transform 0.5s ease;
  transform: scale(0.8);
}

.circular img:hover {
  transform: scale(.9);
  /*
  transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  */
}


.panel-bottle {border:0;background-color:#fafafa; border-radius: 3px; padding:10px;}