<li>  

<div class="panel-place">   


                                           
  <span class="title"><%= place.title %></span><br />



  <p class="description"><%= place.description %></p>
  <span class="timestamp">
    Posted <%= time_ago_in_words(place.created_at) %> ago.
  </span>
  <% if current_user?(place.user) %>
	<br />
 <%= link_to "x", place, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: place.description%>
  <% end %>
	<hr />

</div>
</li>