<footer class="footer">
  <small>
    <a href="#">Open Vintage</a>
    by <a href="#">Beaver Creek Ind.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>